In [1]:
import pandas as pd
import numpy as np

In [2]:
TRAIN_DIM = 500
TEST_DIM = 10

In [3]:
data = pd.read_csv('src/main/resources/train_triplets.txt', sep="\t", header=None)
data.columns = ["user", "song", "play_count"]

In [4]:
data.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [5]:
print("Users: ", data['user'].unique().size, "\tSongs: ", data['song'].unique().size, "\tTriplets: ", data.shape[0])

Users:  1019318 	Songs:  384546 	Triplets:  48373586

In [6]:
users = data['user'].unique()

In [7]:
train = data[data['user'].isin(users[:TRAIN_DIM])]

In [8]:
train

,user,song,play_count
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAPDEY12A81C210A9,1
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFNSP12AF72A0E22,1
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFOVM12A58A7D494,1
...,...,...,...
24887,df576258e114403b482a2f27f2c5619df4c27a74,SOPAMVK12A8AE48E11,2
24888,df576258e114403b482a2f27f2c5619df4c27a74,SOPPTRY12AF72A8EB8,1
24889,df576258e114403b482a2f27f2c5619df4c27a74,SOQZYQH12A8AE468E5,1
24890,df576258e114403b482a2f27f2c5619df4c27a74,SOYABSZ12A81C1FEAC,5
24891,df576258e114403b482a2f27f2c5619df4c27a74,SOYVYAG12AB018A344,1

In [9]:
# Extracting test_full and using it instead of whole data in the cells below saves a lot of time
test_full = data[data['user'].isin(users[TRAIN_DIM:TRAIN_DIM+TEST_DIM])]

In [10]:
test_full

,user,song,play_count
24892,a84dab2d0dd967d002cea226fbc0a6446bbb7014,SOABNPW12A6D4FC9B5,1
24893,a84dab2d0dd967d002cea226fbc0a6446bbb7014,SOAKMYN12A8C1316C5,1
24894,a84dab2d0dd967d002cea226fbc0a6446bbb7014,SOAYLRC12A8C138C32,2
24895,a84dab2d0dd967d002cea226fbc0a6446bbb7014,SOBAAAB12A6D4F95A5,1
24896,a84dab2d0dd967d002cea226fbc0a6446bbb7014,SOBKKUJ12A6D4FC8AB,1
...,...,...,...
25398,93235f9469ab99ee196f320d1336c4fb21ae8d59,SOWEJXA12A6701C574,6
25399,93235f9469ab99ee196f320d1336c4fb21ae8d59,SOXEBBF12A6D4F7D11,6
25400,93235f9469ab99ee196f320d1336c4fb21ae8d59,SOYFRSI12A670202B3,1
25401,93235f9469ab99ee196f320d1336c4fb21ae8d59,SOZIPZO12A8C1310AB,1
25402,93235f9469ab99ee196f320d1336c4fb21ae8d59,SOZYTRJ12AF72A9FD7,1

In [11]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)))

54 27
77 39
110 55
147 74
13 7
17 9
15 8
24 12
31 16
23 12

In [12]:
test = pd.DataFrame(columns=data.columns)
test_labels = pd.DataFrame(columns=data.columns)
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
   test = pd.concat([test,test_full[test_full['user'] == user][:int(np.ceil(test_full[test_full['user'] == user].shape[0]/2))]], axis=0)
   test_labels = pd.concat([test_labels,test_full[test_full['user'] == user][int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)):]], axis=0)

In [13]:
test

                                           user                song play_count
24892  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOABNPW12A6D4FC9B5          1
24893  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOAKMYN12A8C1316C5          1
24894  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOAYLRC12A8C138C32          2
24895  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOBAAAB12A6D4F95A5          1
24896  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOBKKUJ12A6D4FC8AB          1
...                                         ...                 ...        ...
25387  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOMRGHP12A8C142424          1
25388  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOMRYYN12A6310F0F3          5
25389  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOOSCPN12AB0186AF2          1
25390  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOOXHLJ12AB0185AEC          1
25391  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOPHSKF12A6D4F7341          9

[259 rows x 3 columns]

In [14]:
test_labels

                                           user                song play_count
24919  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOMLECN12AAF3B46F6          1
24920  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SOMXPHT12AB0182BE7          1
24921  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SONGVPK12A8C13CF8F          1
24922  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SONRRQH12AC3DFA45F          1
24923  a84dab2d0dd967d002cea226fbc0a6446bbb7014  SONSWER12AF72A4D35          1
...                                         ...                 ...        ...
25398  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOWEJXA12A6701C574          6
25399  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOXEBBF12A6D4F7D11          6
25400  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOYFRSI12A670202B3          1
25401  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOZIPZO12A8C1310AB          1
25402  93235f9469ab99ee196f320d1336c4fb21ae8d59  SOZYTRJ12AF72A9FD7          1

[252 rows x 3 columns]

In [15]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], test[test['user'] == user].shape[0], test_labels[test_labels['user'] == user].shape[0])

54 27 27
77 39 38
110 55 55
147 74 73
13 7 6
17 9 8
15 8 7
24 12 12
31 16 15
23 12 11

In [16]:
train.to_csv(r'src/main/resources/train_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test.to_csv(r'src/main/resources/test_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test_labels.to_csv(r'src/main/resources/test_labels_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')