In [1]:
import pandas as pd
import numpy as np

In [2]:
TRAIN_DIM = 100
TEST_DIM = 10

In [3]:
data = pd.read_csv('src/main/resources/train_triplets.txt', sep="\t", header=None)
data.columns = ["user", "song", "play_count"]

In [4]:
data.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [5]:
print("Users: ", data['user'].unique().size, "\tSongs: ", data['song'].unique().size, "\tTriplets: ", data.shape[0])

Users:  1019318 	Songs:  384546 	Triplets:  48373586

In [6]:
users = data['user'].unique()

In [7]:
train = data[data['user'].isin(users[:TRAIN_DIM])]

In [8]:
train

                                          user                song  play_count
0     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1
...                                        ...                 ...         ...
5550  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZKHNG12A6D4F84A6           1
5551  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZMEWM12A6D4F8456           1
5552  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZPPYS12898B694CE           1
5553  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZXHRK12AB0183F11           1
5554  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZZISR12A6D4F9391           2

[5555 rows x 3 columns]

In [9]:
# Extracting test_full and using it instead of whole data in the cells below saves a lot of time
test_full = data[data['user'].isin(users[TRAIN_DIM:TRAIN_DIM+TEST_DIM])]

In [10]:
test_full

                                          user                song  play_count
5555  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOAHZ12A8C13AAF1           3
5556  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOJYY12A58A7B2F9           2
5557  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAUWYT12A81C206F1          11
5558  b1269307f2ae8c17062c6aea2502b099aad517b6  SOBTVDE12AF72A3DE5           1
5559  b1269307f2ae8c17062c6aea2502b099aad517b6  SOBUJAW12AB0184040           1
...                                        ...                 ...         ...
6083  4782b9bb73322bf80329ce5989128a67bc538747  SOQQSYT12A6310F0C7           1
6084  4782b9bb73322bf80329ce5989128a67bc538747  SOUSMXX12AB0185C24           3
6085  4782b9bb73322bf80329ce5989128a67bc538747  SOUUEUR12A8C13EF6D          17
6086  4782b9bb73322bf80329ce5989128a67bc538747  SOUVTSM12AC468F6A7           4
6087  4782b9bb73322bf80329ce5989128a67bc538747  SOVYMZI12A58A7A5EB           1

[533 rows x 3 columns]

In [11]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)))

38 19
32 16
44 22
19 10
67 34
21 11
63 32
141 71
88 44
20 10

In [12]:
test = pd.DataFrame()
test_labels = pd.DataFrame()
for user in users[100:110]:
   test = pd.concat([test,test_full[test_full['user'] == user][:int(np.ceil(test_full[test_full['user'] == user].shape[0]/2))]], axis=0)
   test_labels = pd.concat([test_labels,test_full[test_full['user'] == user][int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)):]], axis=0)

In [13]:
test

                                          user                song  play_count
5555  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOAHZ12A8C13AAF1           3
5556  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOJYY12A58A7B2F9           2
5557  b1269307f2ae8c17062c6aea2502b099aad517b6  SOAUWYT12A81C206F1          11
5558  b1269307f2ae8c17062c6aea2502b099aad517b6  SOBTVDE12AF72A3DE5           1
5559  b1269307f2ae8c17062c6aea2502b099aad517b6  SOBUJAW12AB0184040           1
...                                        ...                 ...         ...
6073  4782b9bb73322bf80329ce5989128a67bc538747  SOFRQTD12A81C233C0           5
6074  4782b9bb73322bf80329ce5989128a67bc538747  SOGSAYQ12AB018BA14           1
6075  4782b9bb73322bf80329ce5989128a67bc538747  SOJDNEA12AF72A677D           1
6076  4782b9bb73322bf80329ce5989128a67bc538747  SONYKOW12AB01849C9           5
6077  4782b9bb73322bf80329ce5989128a67bc538747  SOPKPUK12A8C13CAED           1

[269 rows x 3 columns]

In [14]:
test_labels

                                          user                song  play_count
5574  b1269307f2ae8c17062c6aea2502b099aad517b6  SOKTGRH12A58A763DA           1
5575  b1269307f2ae8c17062c6aea2502b099aad517b6  SOLDAZZ12A6D4F8DA5           1
5576  b1269307f2ae8c17062c6aea2502b099aad517b6  SOLPVAQ12AB017EB35           1
5577  b1269307f2ae8c17062c6aea2502b099aad517b6  SOLYVAA12AF72A366B           2
5578  b1269307f2ae8c17062c6aea2502b099aad517b6  SOMMJUQ12AF72A5931           2
...                                        ...                 ...         ...
6083  4782b9bb73322bf80329ce5989128a67bc538747  SOQQSYT12A6310F0C7           1
6084  4782b9bb73322bf80329ce5989128a67bc538747  SOUSMXX12AB0185C24           3
6085  4782b9bb73322bf80329ce5989128a67bc538747  SOUUEUR12A8C13EF6D          17
6086  4782b9bb73322bf80329ce5989128a67bc538747  SOUVTSM12AC468F6A7           4
6087  4782b9bb73322bf80329ce5989128a67bc538747  SOVYMZI12A58A7A5EB           1

[264 rows x 3 columns]

In [15]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], test[test['user'] == user].shape[0], test_labels[test_labels['user'] == user].shape[0])

38 19 19
32 16 16
44 22 22
19 10 9
67 34 33
21 11 10
63 32 31
141 71 70
88 44 44
20 10 10

In [16]:
train.to_csv(r'src/main/resources/train_100_10.txt', header=None, index=None, sep='\t', mode='w')
test.to_csv(r'src/main/resources/test_100_10.txt', header=None, index=None, sep='\t', mode='w')
test_labels.to_csv(r'src/main/resources/test_labels_100_10.txt', header=None, index=None, sep='\t', mode='w')