In [1]:
import pandas as pd
import numpy as np

In [2]:
TRAIN_DIM = 5000
TEST_DIM = 100

In [3]:
data = pd.read_csv('src/main/resources/train_triplets.txt', sep="\t", header=None)
data.columns = ["user", "song", "play_count"]

In [4]:
data.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [5]:
print("Users: ", data['user'].unique().size, "\tSongs: ", data['song'].unique().size, "\tTriplets: ", data.shape[0])

Users:  1019318 	Songs:  384546 	Triplets:  48373586

In [6]:
users = data['user'].unique()

In [7]:
train = data[data['user'].isin(users[:TRAIN_DIM])]

In [8]:
train

,user,song,play_count
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAPDEY12A81C210A9,1
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFNSP12AF72A0E22,1
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFOVM12A58A7D494,1
...,...,...,...
241032,501d382570a25e17f329e84037ad211542cfc545,SOVDLZN12AB0185BEA,1
241033,501d382570a25e17f329e84037ad211542cfc545,SOVITPC12AC468A1B7,1
241034,501d382570a25e17f329e84037ad211542cfc545,SOXDQME12A8C134365,4
241035,501d382570a25e17f329e84037ad211542cfc545,SOXYPDR12A8C14147B,1
241036,501d382570a25e17f329e84037ad211542cfc545,SOYMIMI12AB0181E5C,1

In [9]:
# Extracting test_full and using it instead of whole data in the cells below saves a lot of time
test_full = data[data['user'].isin(users[TRAIN_DIM:TRAIN_DIM+TEST_DIM])]

In [10]:
test_full

,user,song,play_count
241037,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAKMDU12A8C1346A9,5
241038,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAOAHZ12A8C13AAF1,10
241039,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAUBGU12A6701C57A,7
241040,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAXGDH12A8C13F8A1,9
241041,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAZRJG12A6D4F8A30,11
...,...,...,...
246356,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOTOWSE12A58A7CEA3,1
246357,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOUOEMP12A8C13866E,2
246358,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOVNVRF12A8C14477B,1
246359,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOWSSMV12A81C224C8,1
246360,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOZHKVZ12AB01827DF,1

In [11]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)))

83 42
14 7
19 10
34 17
24 12
46 23
132 66
72 36
15 8
49 25
403 202
17 9
38 19
47 24
24 12
118 59
90 45
51 26
17 9
31 16
21 11
17 9
32 16
33 17
13 7
12 6
63 32
35 18
247 124
26 13
24 12
37 19
90 45
14 7
20 10
37 19
43 22
27 14
16 8
18 9
66 33
10 5
14 7
12 6
22 11
223 112
41 21
28 14
15 8
14 7
53 27
16 8
13 7
48 24
12 6
167 84
37 19
41 21
31 16
16 8
13 7
11 6
20 10
27 14
33 17
86 43
30 15
338 169
77 39
10 5
32 16
22 11
63 32
107 54
20 10
19 10
13 7
18 9
53 27
21 11
20 10
31 16
80 40
31 16
17 9
61 31
88 44
13 7
39 20
13 7
23 12
10 5
331 166
44 22
17 9
233 117
27 14
150 75
27 14
28 14

In [12]:
test = pd.DataFrame(columns=data.columns)
test_labels = pd.DataFrame(columns=data.columns)
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
   test = pd.concat([test,test_full[test_full['user'] == user][:int(np.ceil(test_full[test_full['user'] == user].shape[0]/2))]], axis=0)
   test_labels = pd.concat([test_labels,test_full[test_full['user'] == user][int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)):]], axis=0)

In [13]:
test

,user,song,play_count
241037,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAKMDU12A8C1346A9,5
241038,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAOAHZ12A8C13AAF1,10
241039,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAUBGU12A6701C57A,7
241040,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAXGDH12A8C13F8A1,9
241041,69242ca0aa42915f113a88e995fffd0993ab8b67,SOAZRJG12A6D4F8A30,11
...,...,...,...
246342,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOIHOIQ12A8C138593,1
246343,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOJHODV12A6D4F71FF,1
246344,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOJTCOE12A588393AD,1
246345,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOKEDRC12A8AE48B26,1
246346,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOLPOUA12A6D4F77C9,2

In [14]:
test_labels

,user,song,play_count
241079,69242ca0aa42915f113a88e995fffd0993ab8b67,SONOYIB12A81C1F88C,1
241080,69242ca0aa42915f113a88e995fffd0993ab8b67,SONQBUB12A6D4F8ED0,1
241081,69242ca0aa42915f113a88e995fffd0993ab8b67,SOOABBO12A6701DFDA,4
241082,69242ca0aa42915f113a88e995fffd0993ab8b67,SOOSIWM12A670202B9,3
241083,69242ca0aa42915f113a88e995fffd0993ab8b67,SOPAYPV12AB017DB0C,1
...,...,...,...
246356,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOTOWSE12A58A7CEA3,1
246357,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOUOEMP12A8C13866E,2
246358,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOVNVRF12A8C14477B,1
246359,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOWSSMV12A81C224C8,1
246360,4a61f0bec0c2beb39edf5818502b7767adac05b6,SOZHKVZ12AB01827DF,1

In [15]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], test[test['user'] == user].shape[0], test_labels[test_labels['user'] == user].shape[0])

83 42 41
14 7 7
19 10 9
34 17 17
24 12 12
46 23 23
132 66 66
72 36 36
15 8 7
49 25 24
403 202 201
17 9 8
38 19 19
47 24 23
24 12 12
118 59 59
90 45 45
51 26 25
17 9 8
31 16 15
21 11 10
17 9 8
32 16 16
33 17 16
13 7 6
12 6 6
63 32 31
35 18 17
247 124 123
26 13 13
24 12 12
37 19 18
90 45 45
14 7 7
20 10 10
37 19 18
43 22 21
27 14 13
16 8 8
18 9 9
66 33 33
10 5 5
14 7 7
12 6 6
22 11 11
223 112 111
41 21 20
28 14 14
15 8 7
14 7 7
53 27 26
16 8 8
13 7 6
48 24 24
12 6 6
167 84 83
37 19 18
41 21 20
31 16 15
16 8 8
13 7 6
11 6 5
20 10 10
27 14 13
33 17 16
86 43 43
30 15 15
338 169 169
77 39 38
10 5 5
32 16 16
22 11 11
63 32 31
107 54 53
20 10 10
19 10 9
13 7 6
18 9 9
53 27 26
21 11 10
20 10 10
31 16 15
80 40 40
31 16 15
17 9 8
61 31 30
88 44 44
13 7 6
39 20 19
13 7 6
23 12 11
10 5 5
331 166 165
44 22 22
17 9 8
233 117 116
27 14 13
150 75 75
27 14 13
28 14 14

In [16]:
train.to_csv(r'src/main/resources/train_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test.to_csv(r'src/main/resources/test_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test_labels.to_csv(r'src/main/resources/test_labels_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')