In [17]:
import pandas as pd
import numpy as np

In [18]:
TRAIN_DIM = 100
TEST_DIM = 100

In [19]:
data = pd.read_csv('src/main/resources/train_triplets.txt', sep="\t", header=None)
data.columns = ["user", "song", "play_count"]

In [20]:
data.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [21]:
print("Users: ", data['user'].unique().size, "\tSongs: ", data['song'].unique().size, "\tTriplets: ", data.shape[0])

Users:  1019318 	Songs:  384546 	Triplets:  48373586

In [22]:
users = data['user'].unique()

In [23]:
train = data[data['user'].isin(users[:TRAIN_DIM])]

In [24]:
train

                                          user                song  play_count
0     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4     b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1
...                                        ...                 ...         ...
5550  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZKHNG12A6D4F84A6           1
5551  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZMEWM12A6D4F8456           1
5552  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZPPYS12898B694CE           1
5553  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZXHRK12AB0183F11           1
5554  eb1ad31d040406c6428c5f4420b0bc709b1c5350  SOZZISR12A6D4F9391           2

[5555 rows x 3 columns]

In [25]:
# Extracting test_full and using it instead of whole data in the cells below saves a lot of time
test_full = data[data['user'].isin(users[TRAIN_DIM:TRAIN_DIM+TEST_DIM])]

In [26]:
test_full

,user,song,play_count
5555,b1269307f2ae8c17062c6aea2502b099aad517b6,SOAOAHZ12A8C13AAF1,3
5556,b1269307f2ae8c17062c6aea2502b099aad517b6,SOAOJYY12A58A7B2F9,2
5557,b1269307f2ae8c17062c6aea2502b099aad517b6,SOAUWYT12A81C206F1,11
5558,b1269307f2ae8c17062c6aea2502b099aad517b6,SOBTVDE12AF72A3DE5,1
5559,b1269307f2ae8c17062c6aea2502b099aad517b6,SOBUJAW12AB0184040,1
...,...,...,...
11127,530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e,SOSXSGD12A6701DE25,1
11128,530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e,SOTXWNV12A6D4F8874,4
11129,530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e,SOVMCVV12A8C142F51,14
11130,530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e,SOWDOVD12A8C143584,2
11131,530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e,SOZOBOC12A67020798,1

In [27]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)))

38 19
32 16
44 22
19 10
67 34
21 11
63 32
141 71
88 44
20 10
14 7
13 7
109 55
33 17
86 43
30 15
10 5
14 7
12 6
17 9
218 109
17 9
33 17
259 130
15 8
153 77
87 44
14 7
10 5
270 135
13 7
13 7
97 49
12 6
229 115
27 14
16 8
44 22
25 13
149 75
20 10
12 6
263 132
11 6
10 5
12 6
17 9
24 12
24 12
17 9
80 40
45 23
363 182
10 5
12 6
54 27
37 19
24 12
52 26
89 45
25 13
40 20
62 31
118 59
28 14
18 9
25 13
11 6
12 6
41 21
289 145
16 8
28 14
345 173
12 6
19 10
41 21
18 9
24 12
11 6
113 57
40 20
30 15
19 10
35 18
11 6
17 9
13 7
56 28
92 46
20 10
38 19
12 6
19 10
22 11
15 8
18 9
22 11
43 22
11 6

In [28]:
test = pd.DataFrame(columns=data.columns)
test_labels = pd.DataFrame(columns=data.columns)
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
   test = pd.concat([test,test_full[test_full['user'] == user][:int(np.ceil(test_full[test_full['user'] == user].shape[0]/2))]], axis=0)
   test_labels = pd.concat([test_labels,test_full[test_full['user'] == user][int(np.ceil(test_full[test_full['user'] == user].shape[0]/2)):]], axis=0)

In [29]:
test

                                           user                song play_count
5555   b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOAHZ12A8C13AAF1          3
5556   b1269307f2ae8c17062c6aea2502b099aad517b6  SOAOJYY12A58A7B2F9          2
5557   b1269307f2ae8c17062c6aea2502b099aad517b6  SOAUWYT12A81C206F1         11
5558   b1269307f2ae8c17062c6aea2502b099aad517b6  SOBTVDE12AF72A3DE5          1
5559   b1269307f2ae8c17062c6aea2502b099aad517b6  SOBUJAW12AB0184040          1
...                                         ...                 ...        ...
11122  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SODGRTP12A6D4F73BD          3
11123  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOEDFQS12A58A7B8C4          3
11124  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOKSZTR12AB0181180          1
11125  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOLPKAK12A6D4F8691          2
11126  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SONYBWW12A6D4F73BC          1

[2813 rows x 3 columns]

In [30]:
test_labels

                                           user                song play_count
5574   b1269307f2ae8c17062c6aea2502b099aad517b6  SOKTGRH12A58A763DA          1
5575   b1269307f2ae8c17062c6aea2502b099aad517b6  SOLDAZZ12A6D4F8DA5          1
5576   b1269307f2ae8c17062c6aea2502b099aad517b6  SOLPVAQ12AB017EB35          1
5577   b1269307f2ae8c17062c6aea2502b099aad517b6  SOLYVAA12AF72A366B          2
5578   b1269307f2ae8c17062c6aea2502b099aad517b6  SOMMJUQ12AF72A5931          2
...                                         ...                 ...        ...
11127  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOSXSGD12A6701DE25          1
11128  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOTXWNV12A6D4F8874          4
11129  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOVMCVV12A8C142F51         14
11130  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOWDOVD12A8C143584          2
11131  530fe4b17c4c6d1cb88dccdf8a8ded8a19fe1c5e  SOZOBOC12A67020798          1

[2764 rows x 3 columns]

In [31]:
for user in users[TRAIN_DIM:TRAIN_DIM+TEST_DIM]:
    print(test_full[test_full['user'] == user].shape[0], test[test['user'] == user].shape[0], test_labels[test_labels['user'] == user].shape[0])

38 19 19
32 16 16
44 22 22
19 10 9
67 34 33
21 11 10
63 32 31
141 71 70
88 44 44
20 10 10
14 7 7
13 7 6
109 55 54
33 17 16
86 43 43
30 15 15
10 5 5
14 7 7
12 6 6
17 9 8
218 109 109
17 9 8
33 17 16
259 130 129
15 8 7
153 77 76
87 44 43
14 7 7
10 5 5
270 135 135
13 7 6
13 7 6
97 49 48
12 6 6
229 115 114
27 14 13
16 8 8
44 22 22
25 13 12
149 75 74
20 10 10
12 6 6
263 132 131
11 6 5
10 5 5
12 6 6
17 9 8
24 12 12
24 12 12
17 9 8
80 40 40
45 23 22
363 182 181
10 5 5
12 6 6
54 27 27
37 19 18
24 12 12
52 26 26
89 45 44
25 13 12
40 20 20
62 31 31
118 59 59
28 14 14
18 9 9
25 13 12
11 6 5
12 6 6
41 21 20
289 145 144
16 8 8
28 14 14
345 173 172
12 6 6
19 10 9
41 21 20
18 9 9
24 12 12
11 6 5
113 57 56
40 20 20
30 15 15
19 10 9
35 18 17
11 6 5
17 9 8
13 7 6
56 28 28
92 46 46
20 10 10
38 19 19
12 6 6
19 10 9
22 11 11
15 8 7
18 9 9
22 11 11
43 22 21
11 6 5

In [32]:
train.to_csv(r'src/main/resources/train_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test.to_csv(r'src/main/resources/test_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')
test_labels.to_csv(r'src/main/resources/test_labels_'+str(TRAIN_DIM)+'_'+str(TEST_DIM)+'.txt', header=None, index=None, sep='\t', mode='w')